
<div class="body-login">
    <div class="login-container">

     <img src="https://www.hull.ac.uk/assets/developer/static-templates/header/images/new/uoh-white.svg" class="small-img" />
         <h3 class="text-white my-5 fs-2" >Sign In</h3>
        <form id="login-form" action="javascript:void(0);" class="my-5">
           <div class="feature col">
        
        <p class="text-muted">We offer an exclusive discount package for staff and students who log in with their school email.
        </p>
        
      </div>
         
              
              
           <div class="d-flex justify-content-start">
   <label for="email" class="text-white fs-5 justify-content-start">Email</label>
           </div>
               
            <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input  class="form-control" placeholder="Enter your email"  type="email" id="email" name="email" required>
						
					</div>
            <button type="button" class="login-button" onclick="requestOTP()" id="btnOtp">Login</button>
        </form>
        <form id="otp-form" action="/auth/login" method="post" style="display: none;">
            <div class="form-group">
                <label for="otp">Enter OTP</label>
                <input type="text" id="otp" name="otp" required>
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
            </div>
            <button type="submit" class="login-button" >Login</button>
        </form>
        <form id="first-form" action="/update" method="post" style="display: none;">
            <div class="form-group">
                <label for="otp">Enter Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <button type="submit" class="login-button">Update Record</button>
        </form>
    </div>
</div>


    <script>
  
        function requestOTP() {
            let btnOtp = document.getElementById('btnOtp');
            btnOtp.disabled = true;
           
            const email = document.getElementById('email').value;
        
        
        $.ajax({
            type: "POST",
            url: "/Auth/RequestOtp",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(email),
            success: function (result, status, xhr) {
                console.log(result);
                btnOtp.disabled = false;
                toastr.success('Successfully Sent OTP')
             

                            document.getElementById('login-form').style.display = 'none';
                            document.getElementById('otp-form').style.display = 'block';
            },
            error: function (xhr, status, error) {
                btnOtp.disabled = false;
                $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    function updateRecord() {
        const email = document.getElementById('email').value;
        $.ajax({
            type: "POST",
            url: "/Auth/RequestOtp",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(email),
            success: function (result, status, xhr) {
                toastr.success('Successfully Updated ')
                console.log(result)

                document.getElementById('login-form').style.display = 'none';
                document.getElementById('otp-form').style.display = 'block';
            },
            error: function (xhr, status, error) {
                $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    // fetch('/Auth/requestotp', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({ email: email })
    // })
    //     .then(response => {
    //         if (response.ok) {
    //             document.getElementById('login-form').style.display = 'none';
    //             document.getElementById('otp-form').style.display = 'block';
    //         } else {
    //             alert('Email not found.');
    //         }
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });

    </script>

