@{
    ViewBag.Title = "Cart";
}

<div class="container pt-5">
    <div class="w-lg-25 container mb-5">
        @Html.Partial("~/Views/_partialView/_header.cshtml")
    </div>
    <div class="table-responsive">


        <div id="cart-items">
            <!-- Cart items will be populated here by JavaScript -->
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
           
        </div>
        <div class=" my-4">
            <div>
                <article class="card">
                    <h1 class="fs-5 text-center card-header">CART SUMMARY</h1>
                    <div class="card-body">
                        <p class="fs-6 text-center">Subtotal</p>
                        <p class="fs-6 text-center text-bold text-danger" id="cart-subtotal">@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-GB"), "{0:C}", 0)</p>
                    </div>
                    <div class="text-center">
                        
                        <div class="m-3 ">
                            <a href="/checkout" class="btn btn-outline-secondary fs-4 text-center py-3 px-5">Checkout </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", (event) => {
        loadCart();
    })
        function loadCart() {
            $.ajax({
                url: '/Cart/GetCartItems',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        renderCartItems(response.cartItems);
                        $('#cart-subtotal').text(response.cartTotal);
                    } else {
                        alert('Failed to load the cart.');
                    }
                },
                error: function () {
                    alert('An error occurred while loading the cart.');
                }
            });
        }
    document.addEventListener('click', function (event) {
        if (event.target.closest('.increment-quantity')) {
            var itemId = event.target.closest('#clickBtn').getAttribute('data-item-id');
            updateCartItem(itemId, true);
        }
    });

    // Event handler for decrement button
    document.addEventListener('click', function (event) {
        if (event.target.closest('.decrement-quantity')) {
            var itemId = event.target.closest('#clickBtn').getAttribute('data-item-id');
            updateCartItem(itemId, false);
        }
    });


        // Function to render cart items
        function renderCartItems(cartItems) {
            var tbody = $('#cart-items');
            tbody.empty();
            cartItems.forEach(function (item) {
                tbody.append(`
                        <div data-item-id="${item.id}" class="d-flex justify-content-between align-items-center" id="clickBtn">
                                      <img src="${item.imageUrl}" class="w-15" /> 
                                    <div class="w-40">${item.productName}</div>
                                <div>
                                <span class="d-flex w-15">
                                            <div class="  mx-3  decrement-quantity"><i class="fa fa-minus"></i></div>
                                    <span class="item-quantity">${item.quantity}</span>
                                                    <div class=" mx-2  increment-quantity"><i class="fa fa-plus"></i></div>
                                </span>
                                </div>
                                    <div class="w-15">${item.priceFormatted}</div>
                                    <div class="w-15">${item.itemTotalFormatted}</div>
                        </div>
                        <hr/>
                    `);
            });
        }

        // Function to update cart item via AJAX
        function updateCartItem(itemId, action) {

            $.ajax({
            url: '/Cart/AddReduceMore',
                type: 'POST',
            data: { productId: itemId, isActionAdd: action },
                success: function (response) {
                    if (response.success) {

                    loadCart();

                } else {
                        alert('Failed to update the cart.');
                    }
                },
                error: function () {
                    alert('An error occurred while updating the cart.');
                }
            });
        }

        // Event handler for increment button
      
       
  
</script>
